@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 1080px;
    margin: 0 auto;
    font-family: 'Monoton', cursive;
}
.card-globale{
    height:200px;
    width:150px;
    background-color: #fff;
    text-align:center;
    display:inline-block;
    border: 2px solid #110e0e;
    border-radius:25px;
    margin:12px;
    border:10px double #028090;
}