@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
.card-figlia {
    box-sizing: border-box;
    width: 350px;
    height: 550px;
    background-color: #efca08;
    border-radius: 25px;
    border: 20px double #fb7200;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin: 0 auto;
    animation: fadeIn;
    animation-duration: 4s;
}
.card-figlia p {
    font-size: 132px;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}